$font: 'Montserrat', sans-serif;

#bingo-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 800px;
    border: 3px solid black;
    border-radius: 40px;
    background-color: white;
}

#bingo-tile-container{
    display: flex;
    flex-wrap: wrap;

    width: 85%;
    height: 68%;
    border: 1px solid black;
}

.bingo-tile{
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 6px;
    box-sizing: border-box;

    width: 20%;
    height:20%;

    font-size: .85em;
    font-family: $font;
    text-align: center;

    cursor: pointer;

    border: .5px dotted #acacac;

    &:hover{
        background-color: #fafafa;
    }

    &:active{
        background-color: #f0f0f0;
    }
    img {
        width: 90%;
        height: auto;
    }

}

#bingo-button-container{
    width: 100%;
    padding: 20px 50px 10px 50px;
    display: flex;
    justify-content:space-around;
    box-sizing: border-box;
}

.bingo-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;


    color: #a3a3a3;
    &:hover{
        color: #7c7c7c;
        transform: scale(1.1,1.1);
    }

    &:active{
        color: #5c5c5c;
    }
}

.bingo-button-title{
    font-size: .8em;
    font-family: $font;
    margin-top: 5px;
    user-select: none;
}
#bingo-logo {
    width: 400px;
    height: auto;
}

.bingo-chip{
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: auto;
  margin-bottom: auto;
  top:0;
  bottom: 0;

  opacity: 0.75;

}
